*{
    margin: 0;
    padding: 0;
   
}
/* header-section */
header{
    height: 809px;
    width: 1600px;
    background: url(../images/banner/banner2.png);
    display: flex;
    justify-content: right;
    align-items: right;
}
.header-title{
  position: absolute;
     width: 525px;
     height: 228px;
     right: 100px;
     top: 216px;
     font-weight: 700;
     font-size: 65px;
     line-height: 76px;
     text-align: right;
}

.header-discription{
    position: absolute;
    width: 494px;
    height: 78px;
    right: 100px;
    top: 468px;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: right;
}
/* contact button */
.primary-btn {
    position: absolute;
    background: #F15B22;
    color: #ffffff;
    width: 160px;
    height: 64px;
    right: 100px;
    top: 578px;
    border: none;
  }
/* previos year failure blog */
 .blog{
    display: flex;
    align-items: center;
    max-width: 1100px;
    max-height: 723.3px;
    margin: 0px auto;
    gap: 50px;
}
.left img {
    position: absolute;
    width: 569px;
    height: 723.3px;
    left: 206px;
    top: 939px;
}
.right{
    position: absolute;
    width: 416px;
    height: 400px;
    left: 890px; 
    top: 1198px;
}
/* main section */
main{
    max-width: 1100px;
    margin: 0px auto;
}
/* plan section styles*/
.plan{ 
    margin-top: 1100px;
    background: #ffffff;
    text-align: center; 
}
.plan-group{
    justify-content: center;
    display: flex;
    gap: 100px;
}

/* gradient with image styles */

.container-mindset{
    margin-top: 100px ;
    min-height: 300px;
  }

  .mindset-container{
    width: 80%;
    margin: 0px auto;
    height: 200px;
    border-radius: 5px ;
    background-image: url("../images/gradient2.png"), url("../images/watch.png");
    position: relative;
    background-repeat: no-repeat;
  }
  .mindset{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    text-align: start;
  }
  .mindset h3{
    font-size:25px;
    color: #ffffff;
    padding-bottom: 20px;
  }

  .mindset button {
    padding: 10px 20px;
    background: #fff;
    border-radius: 5px;
    color: #3b80c6;
    font-weight: 600;
    font-size: 16px;
    border: none;
  }

   /* footer with social icon  */
.footer{
    background-color: #000;
    margin: 0px auto;
}
.footer-container{
    margin: 0px auto;
    width: 80%;
    padding: 60px;
    background-color: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #fff;
}
.left-footer-container h3{
    font-size: 30px;
    margin-top: 5px;
}
.left-footer-container p{
    font-size:14px;
    margin-top: 10px;
}

.social-media img{
    width: 30px;
    margin-right: 10px;
    margin-top: 10px;
}

.right-container input{
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #000;

}

.right-container button{
    margin-top: 10px;
    padding: 10px 20px;
    background: #FFFFFF;
    border-radius: 5px;
    color:#F15B22;
    font-weight: 600;
    font-size: 16px;
    border: none;
    width: 150px;
}












